@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.about {
	display: flex;
	padding: 10px;
}

.about__our-aim-text {
	flex: 50;
	color: #3e4c59;
	text-align: center;
}

.about__our-aim-heading {
	font-size: 72px;
	font-family: "Pacifico";
	color: #39b54a;
}

.about__our-aim-illus {
	flex: 50;
	align-items: left;
	/* background-color: #39b54a; */
}

.about__our-aim-illus img {
	width: 600px;
	/* background-color: aqua; */
	height: 500px;
}

.about__our-aim-para {
	font-size: 22px;
	padding: 0 50px 0px 50px;
	line-height: 30px;
}
