.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 16vh;
  max-width: 100vw;
}

.home-image {
  width: 100vw;
}

#splash-text {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 40vh;
  color: white;
}

#search-ui-img,
#add-ui-img {
  width: 50vw;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  margin: 0;
  text-align: center;
  font-weight: 300;
}

.pacifico_title {
  font-weight: 900;
  font-family: "Pacifico", sans-serif;
}

.description {
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.feature-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 60vh;
  margin-top: 10vh;
  gap: 30px;
}

.feature-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: center;
}

.feature-img {
  height: 70vh;
  width: 70vh;
  object-fit: contain;
}

.feature-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 10vh;
}

.hr {
  height: 2px;
  width: 100vw;
  color: white;
  margin-top: 8vh;
  display: none;
}

.feature-details h1 {
  font-size: 36px;
}

.feature-details p {
  font-size: 24px;
}

.feature-share h1 {
  font-size: 48px;
}

.feature-share p {
  width: 48vw;
  font-size: 24px;
}

/* Light Mode */
#add-ui-img {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866917304355913748/unknown.png");
}
.light-mode #add-ui-img {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866941808323330088/unknown.png");
}

#search-ui-img {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866925017429180426/unknown.png?width=427&height=553");
}
.light-mode #search-ui-img {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866942128156442624/unknown.png?width=464&height=604");
}

#img-1 {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866945447091503104/unknown.png");
}
.light-mode #img-1 {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866942304140263454/unknown.png");
}

#img-2 {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866943722847862804/unknown.png?width=361&height=554");
}
.light-mode #img-2 {
  content: url("https://media.discordapp.net/attachments/854564575826673685/866943460128325632/unknown.png?width=419&height=605");
}
