.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 16vh;
  max-width: 100vw;
}

.home-image {
  width: 100vw;
}

#splash-text {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
   width: 100vw;
}

#search-ui-img,
#add-ui-img {
  width: 80vw;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  color: var(--secondary);
  margin: 0;
  text-align: center;
}

.pacifico_title {
  font-family: 'Pacifico', sans-serif;
  color: var(--primary);
}

.description {
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.feature-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  /* margin-left: 50vw; */
  height: 80vh;
  /* margin-right: 50vw; */
  margin-top: 40vh;
}

.feature-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: center;
}

/* .feature-img {
	height: 70vh;
} */

.feature-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 10vh;
}

.hr {
  height: 2px;
  width: 100vw;
  color: white;
  margin-top: 8vh;
  display: none;
}

.feature-details h1 {
  font-size: 36px;
}

.feature-details p {
  font-size: 24px;
}

.feature-share h1 {
  font-size: 48px;
}

.feature-share p {
  width: 48vw;
  font-size: 24px;
}
