.slider {
  display: flex;
  height: 70vh;
  width: 70vw;
  background-color: var(--tertiary);
  padding: 40px;
  align-content: center;
  border-radius: 20px;
}

.slider__comments {
  height: 35vh;
  text-align: center;
  background-color: var(--primary);
  border-radius: 10px;
  margin: 10%;
  color: var(--tertiary);
  font-weight: 700;
  font-size: 1.7rem;
  padding-right: 20px;
  padding-left: 20px;
}

.comma {
  color: var(--secondary);
  font-size: 3rem;
  margin-top: 10px;
}

.slider__target-audience {
  text-align: center;
  margin: 10px;
}

.slider__target-audience img {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  border: 5px solid var(--primary);
}

.slider__target-audience-heading {
  font-size: 2rem;
  font-weight: 600;
}
.slider__target-audience-sub-heading {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--secondary);
}

.target-audience {
  text-align: center;
}
